<!DOCTYPE html>
<html lang="en">

{% extends "layout.jinja2" %}

{% block content %}
<div>
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">"This is an interactive dashboard that allows you to input any Phish song and choose 7 different graphs to look at the trends of the song."</p>
  <p style="width:60; text-alignment:center;">jroefive at gmail and on github, PhishStatSpatula on reddit</p>
  <a href="/dashapp/" class="dash-link">
    <span>Step into the Freezer</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}